div {}

.container {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.btn-enviar {
    color: white;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

}


#container {}